
/* Main */

html {
    scroll-behavior: smooth;
  }
  

body {
    padding: 0;
    margin: 0px;

}  

/* Responsible for navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: hidden;
    background-color: rgb(0, 102, 255);

    display: flex;
    justify-content: center;

    
  }



li {
    
    text-align: center;
    display: inline-block;

}
  
li a {
    display: block;
    color: white;
    
    padding: 18px 15px;
    text-decoration: none;
    font-size: 22px;
    font-family: verdana;

    font-weight: lighter;

    
}

/* Text Stroke */

  
/* Select Button Edit */

li a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(255, 255, 255);
}


/* Main Name */

h1 {
    color: rgb(0, 102, 255);
    text-align: center;
    font-family: verdana;
    font-size: 6vw;
    
    position: absolute;
    top: 10vw;
    right: 17vw;

    -webkit-text-stroke: 3px rgb(0, 0, 0);

  
}

/* Dev Name */

h9 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: verdana;
    font-size: 6vw;
    
    position: absolute;
    top: 20vw;
    right: 32vw; 

    -webkit-text-stroke: 3px rgb(0, 0, 0);

}

/* Unused */

  
h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 5vw;
}

/* Body Text */


h3 {
    color: black;
    text-align: left;
    font-family: verdana;
    font-size: 1.5vw;
    font-weight: lighter;


    margin-right: 80px;
    margin-left: 80px;

    padding-left: 0;
    list-style-position: inside;
}
      
/* Scaled Text */


h4 {
    color: black;
    text-align: left;
    font-family: verdana;
    font-size: 2.7vw; 
    font-weight: bold;

    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;


    padding-left: 0;
    list-style-position: inside;

    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(0, 0, 0);
}

/* Main name title */


h6 {

    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 4.5vw;
    
    position: absolute;
    top: 10vw;
    right: 30vw;

    font-weight: lighter;

    -webkit-text-stroke: 2px rgb(0, 0, 0);

}

/* ??? */


p {
    color: white;
    font-family: verdana;
    font-size: 2.5vw;
    background-color: rgb(0, 102, 255);
   
    text-align: center;
    position: center; 
   
    height: 5vw; 
    width: 100%;

}

/* no point */


br {
    line-height: 20vw;
  }