
/* Main */

html {
    scroll-behavior: smooth;
  }
  

body {
    padding: 0;
    margin: 0px;

}  

/* Responsible for navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    overflow: hidden;
    background-color: rgb(0, 102, 255);

    display: flex;
    justify-content: center;

    
  }



li {
    
    text-align: center;
    display: inline-block;

}
  
li a {
    display: block;
    color: white;
    
    padding: 18px 15px;
    text-decoration: none;
    font-size: 22px;
    font-family: verdana;

    font-weight: lighter;

    
}

/* Text Stroke */

  
/* Select Button Edit */

li a:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(255, 255, 255);
}


/* Main Name */

h1 {
    color: rgb(0, 102, 255);
    text-align: center;
    font-family: verdana;
    font-size: 6vw;
    
    position: absolute;
    top: 20%;
    right: 17vw;
  
}

/* Dev Name */

h9 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: verdana;
    font-size: 5vw;
    
    position: absolute;
    top: 40%;
    right: 35vw; 


}

/* Unused */

  
h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 5vw;
}

/* Body Text */


h3 {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 24px;
    font-weight: lighter;

    margin: auto;
    width: 60%;
    padding: 15px;
    list-style-position: inside;
}
      
/* Scaled Text */


h4 {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 34px; 
    font-weight: bold;

    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;


    padding-left: 0;
    list-style-position: inside;

    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(0, 0, 0);
}

/* Main name title */


h6 {

    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 4.5vw;
    
    position: absolute;
    top: 10vw;
    right: 30vw;

    font-weight: lighter;

    -webkit-text-stroke: 2px rgb(0, 0, 0);

}

/* ??? */


p {
    color: white;
    font-family: verdana;
    font-size: 20px;
    background-color: rgb(0, 102, 255);
   
    text-align: center;
    position: center; 
   
    height: 5vw; 
    width: 100%;

}
/* no point */

/* !!! BELOW IS SIDEBAR !!! */
/* !!! BELOW IS SIDEBAR !!! */
/* !!! BELOW IS SIDEBAR !!! */

br {
    line-height: 10vw;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 62, 156);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* text sidebar */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.3s;

    font-family: verdana;
    font-weight: lighter;

}

/* select text stuff */
.sidenav a:hover, .offcanvas a:focus{
    color: #000000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .2s;
    padding: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }