
/* Main */

html {
    scroll-behavior: smooth;
  }
  

body {
    padding: 0;
    margin: 0px;

}  

/* Responsible for navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: hidden;
    background-color: rgb(195, 97, 23);

    display: flex;
    justify-content: center;

    
  }



li {
    
    text-align: center;
    display: inline-block;

}
  
li a {
    display: block;
    color: white;
    
    padding: 18px 15px;
    text-decoration: none;
    font-size: 22px;
    font-family: verdana;
    

    font-weight: lighter;

    
}
  
li a:hover {
    background-color: rgba(174, 255, 0, 0.522);
}


/* Main Name */


h1 {
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 8vw;
    
    position: absolute;
    top: 10vw;
    right: 5vw;

  
}

/* Unused */

  
h2 {
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 5vw;
}

/* Body Text */


h3 {
    color: black;
    text-align: left;
    font-family: verdana;
    font-size: 1.5vw;
    font-weight: lighter;


    margin-right: 80px;
    margin-left: 80px;

    padding-left: 0;
    list-style-position: inside;
}
      
/* Scaled Text */


h4 {
    color: black;
    text-align: left;
    font-family: verdana;
    font-size: 3.5vw; 
    font-weight: bold;

    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 20px;


    padding-left: 0;
    list-style-position: inside;
}

/* Main name title */


h6 {

    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 6vw;
    
    position: absolute;
    top: 10vw;
    right: 22vw;

    font-weight: lighter;

}

/* ??? */


p {
    color: white;
    font-family: verdana;
    font-size: 2.5vw;
    background-color: rgb(195, 97, 23);
   
    text-align: center;
    position: center; 
   
    height: 5vw; 
    width: 100%;

}

/* no point */


br {
    line-height: 20vw;
  }